body {
    background-color: rgb(212, 238, 255);
    /* text-align: center; */
}

.background {
    background-image: url(./images/pexels-pixabay-2150.jpg);
    /* background: rgb(52, 166, 251); */
    border-style: solid;
    border-color: black;
    table-layout: fixed;
    border-spacing: 0;
    /* text-align: center; */
};

.background td {
    padding: 0;
};

.lava {
    /* background-image: url(./images/lava.png); */
    background: rgb(205, 50, 50);
}

/* .grass {
    background-image: url(./images/dirt.png);
} */

/* .stone {
    background-image: url(./images/stone.png);
} */

/* .dirt {
    background-image: url(./images/Underdirt.png);
} */

.wall {
    background-image: url(./images/pixelart2.png);
    /* background: whitesmoke; */
}

.ladder {
    background-image: url(./images/ladder.png);
    /* position: absolute; */
    z-index: 0;
}

.actor {
    position: absolute;
}

.coin {
    background-image: url(./images/marioCoin.png);
    /* background: rgb(248, 231, 76);  */
}

.player {
    /* background: rgb(64, 64, 64) */
    background-image: url(./images/knockOffSamus.png);
}

.lost .player {
    background-image: url(./images/knockOffSamus.onFire.png);
    /* background: rgb(252, 7, 7) */
}

.won .player {
    background-image: url(./images/knockOffSamus.png);
    box-shadow: -4px -7px 8px rgb(255, 213, 73), 4px -7px 8px rgb(255, 192, 133);
}

.game {
    overflow: hidden;
    max-width: 100vw;
    max-height:100vh;
    position: relative;
    
}

